@import '~style/helpers';

.toc {
	display: block;
	position: relative;
	padding: 1rem 2rem 1.5rem;
	border-radius: 2px;

	@media @sidebar-break {
		padding: 1.5rem 1rem 2rem 2rem;
	}

	&.disabled {
		display: none;
	}
}

.link {
	display: block;
	position: relative;
	padding: 0.4em 0.75em 0.4em 1em;
	transition: background 0.3s;
	color: var(--color-sidebar-link);

	&::before {
		.fadeOut;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0.2em;
		background: @color-brand;
	}
}

.linkActive {
	color: @color-brand;
	background: var(--color-sidebar-bg-active);
	color: var(--color-sidebar-link-active);

	&::before {
		.fadeIn;
	}
}

.category {
	color: var(--color-sidebar-link-active);
	text-transform: uppercase;
	letter-spacing: 0.125em;
	display: block;
	margin-top: 1rem;
	background: none;
	border: none;
	padding: 0.5rem 0;
	width: 100%;
	text-align: left;
	cursor: pointer;
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordionIcon {
	transform: rotate(0);
	transition: all 0.3s;

	&.active {
		transform: rotate(-180deg);
	}
}

.accordionBody {
	margin-top: 0.25rem;
}

.level-3 {
	padding-left: 2rem;
}
.level-4 {
	padding-left: 3.5rem;
}

.level-2 + .level-3 {
	margin-top: 0.5rem;
}
.level-3 + .level-4 {
	margin-top: 0.5rem;
}
.level-4 + .level-3 {
	margin-top: 0.5rem;
}

.level-3 + .level-2,
.level-4 + .level-2 {
	margin-top: 1rem;
}
