@import '~style/helpers';

.wrapper {
	// Force children to have a know height for `position:sticky` to work
	display: flex;
}

.toggle {
	display: flex;
	align-items: center;
	position: fixed;
	border: none;
	bottom: 1rem;
	right: 50%;
	margin-right: -4em;
	border-radius: 3rem;
	height: 3rem;
	background: var(--color-brand);
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
	padding: 0 1.5em;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	fill: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	z-index: 560;
	transition: transform 0.3s;

	&:after {
		content: '';
		display: inline-block;
		position: relative;
		left: 0.6em;
		width: 2em;
		height: 2em;
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="white"><path d="M7.5 36.7h58.4v10.6H7.5V36.7zm0-15.9h58.4v10.6H7.5V20.8zm0 31.9h58.4v10.6H7.5V52.7zm0 15.9h58.4v10.6H7.5V68.6zm63.8-15.9l10.6 15.9 10.6-15.9H71.3zm21.2-5.4L81.9 31.4 71.3 47.3h21.2z"/></svg>')
			center/contain;
	}

	@media @sidebar-break {
		display: none;
	}

	&:focus {
		outline: none;
		// Use box shadow to draw an outline because outline has no radius
		box-shadow: 0 0 2px 2px lighten(@color-brand, 40%),
			0 3px 8px rgba(0, 0, 0, 0.5);
	}

	[data-open] & {
		background: @color-corner;

		&:after {
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white"><path d="M38 13l-3-3-11 12-11-11-3 3 11 11-11 11 3 3 11-11 11 11 3-3-11-11z"/></svg>');
		}
	}
}

.sidebar {
	visibility: hidden;
	position: fixed;
	transform: translateY(100%);
	transition: all 0.3s;
	opacity: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 550;
	height: 100%;
	overflow-y: auto;
	background: var(--color-sidebar-bg);

	@media @sidebar-break {
		height: auto;
		overflow-y: initial;
		position: relative;
		visibility: visible;
		opacity: 1;
		transform: none;
		flex-shrink: 0;
		flex-grow: 0;
		top: 0;
		width: @sidebar-width;
		background: transparent;
	}

	[data-open] & {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}
}

.sidebarInner {
	padding-bottom: 3rem;

	> * + * {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 0.0625rem solid var(--color-sidebar-divider);
	}

	@media @sidebar-break {
		@supports (position: sticky) {
			position: sticky;
			height: calc(100vh - @header-height);
			overflow: auto;
		}
		top: @header-height;
		padding-bottom: 0;
		width: 100%;
	}
}
