@import '~style/helpers';

.page {
	position: relative;
	margin-left: auto;
	margin-right: auto;

	:global .markup {
		// Necessary to prevent the background stripes of
		// jumpotron/hero to affect the scrolling area.
		overflow: hidden;
		margin-bottom: 4rem;

		& > *,
		.full-width > * {
			padding-left: 20px;
			padding-right: 20px;
			margin-left: auto;
			margin-right: auto;
			max-width: @content-width;
		}

		& > ul,
		& > ol {
			padding-left: 50px;
		}

		.full-width {
			max-width: none;
			width: 100%;
		}
	}
}

.title {
	margin: 1rem auto 0 auto;
	padding: 0.5em;
	font-size: 3.6rem;
	font-weight: 200;
	text-align: center;
	line-height: 1.2;
	max-width: @content-width;

	@media (max-width: 600px) {
		font-size: 2em;
		margin-top: 2rem;
	}
}

.inner {
	position: relative;
	min-height: 200px;
	width: 100%;
	background: var(--color-page-bg);
}

.withEdit {
	margin-top: 2rem;
}

.outer {
	display: flex;
}

.sidebarWrap {
	display: none;
}

.withSidebar {
	.sidebarWrap {
		display: flex;
	}

	@media @sidebar-break {
		background: var(--color-sidebar-bg);

		.outer {
			margin-left: auto;
			margin-right: auto;
			max-width: @full-width;
		}

		.inner {
			flex-shrink: 1;
			flex-grow: 1;
			flex-basis: auto;
			max-width: calc(100% - 20rem);
		}
	}
}

.contentWrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-height: calc(100vh - 12rem);
}
