@import '~style/helpers';

.page {
	position: relative;
	overflow: hidden;

	:global .markup {
		padding: 50px 0;
		overflow: visible;

		& > *,
		.full-width > *,
		pre.highlight > code {
			padding-left: 20px;
			padding-right: 20px;
			margin-left: auto;
			margin-right: auto;
			max-width: 800px;
		}

		& > ul, & > ol {
			padding-left: 50px;
		}

		.full-width {
			max-width: none;
			width: 100%;
		}
		pre.highlight {
			border-radius: 0;
			padding: 20px 0;
		}
	}

	.toc {
		display: inline-block;
		position: fixed;
		right: -5px;
		top: @header-height + 10px;
		transform: translateX(100%);
		opacity: 0.8;
		z-index: 100;
		transition: all 250ms ease;
		outline: none;

		&.disabled {
			display: none;
		}

		.toggle {
			position: absolute;
			left: -45px;
			top: 10px;
			width: 48px;
			height: 40px;
			background: #FAFAFA;
			box-shadow: 0 1px 6px rgba(0,0,0,0.3);
			border: none;
			border-radius: 3px;
			font-size: 20px;
			line-height: 40px;
			text-align: left;
			text-indent: 12px;
			color: #FFF;
			cursor: pointer;
			z-index: 1;

			&:hover {
				background: #FFF;
			}
		}

		&[open] {
			transform: skew(0,0);
			opacity: 1;
		}

		nav {
			position: relative;
			padding: 20px;
			background: #fff;
			box-shadow: 0 2px 7px rgba(0,0,0,0.3);
			border-radius: 2px;
			overflow: hidden;
			z-index: 2;

			a {
				display: block;
				border: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.loading {
		position: fixed;
		display: none;
		left: 50%;
		top: 50%;
		width: 200px;
		margin: -40px 0 0 -100px;
		text-align: center;

		animation: fadeIn 400ms ease forwards 1 100ms;
		@keyframes fadeIn {
			from { opacity:0; }
		}

		progress-spinner {
			font-size: 30px;
		}
	}

	.title {
		margin: 0 -1em;
		padding: 1em;
		background: #22262e;
		color: #f2777a;
		text-shadow: 0 0 2px rgba(0,0,0,0.7);
		font-weight: 400;
		box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
		text-align: center;
	}

	.inner {
		position: relative;
		overflow: hidden;
		min-height: 200px;
	}

	& > h1,
	.inner {
		transition: opacity 80ms ease 30ms;
	}

	&[loading] {
		.loading {
			display: block;
		}
		& > h1,
		.inner {
			opacity: 0;
			transition: none;
		}
	}
}
