@import '../../../style/helpers';

.toc {
	display: block;
	position: relative;
	padding-top: 2rem;
	z-index: 20;

	@media (min-width: 800px) {
		& {
			width: 20vw;
			position: fixed;
			padding-left: 1.5rem;
			padding-top: 3rem;
			top: @header-height / 2;
			left: 0;
			bottom: 0;
			background: whitesmoke;
			background: white;
			border-left: .0625rem solid #eee;
		}
	}

	&.disabled {
		display: none;
	}

	.toggle {
		display: block;
		background: #22262e;
		border: none;
		border-radius: 3px;
		color: #FFF;
		padding: .7em;
		cursor: pointer;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: .18em;

		@media (min-width: 800px) {
			display: none;
		}
	}

	&[open] {
		nav {
			display: block;
		}
	}

	nav {
		// display: none;
		position: absolute;
		padding: 1.5rem 1.5rem 1.5rem .5rem;
		left: 0;
		right: 0;
		background: #fff;
		border-radius: 2px;
		overflow: hidden;
		z-index: 2;

		@media (min-width: 800px) {
			& {
				display: block;
				background: inherit;
				padding: 2rem;
			}
		}
	}
}

.link {
	display: block;
	position: relative;
	padding: .2em 0 .2em 1em;
	color: @sidebar-link-color;

	&::before,
	&::after {
		content: '';
		.fadeOut;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: .2em;
		background: @color-brand;
	}

	&::after {
		.fill();
		background: @sidebar-active-bg;
		z-index: -1;
		transition: visibility .5s, opacity .5s
	}
}

.linkActive {
	color: @color-brand;
	font-weight: bold;

	&::before,
	&::after {
		.fadeIn;
	}
}
