.page {
	position: relative;
	margin-left: auto;
	margin-right: auto;

	content-region:not([data-page-nav='true']) :global(.markup) {
		margin-bottom: 4rem;
	}

	content-region:not([name='/']) :global(.markup) {
		margin-top: 2.5rem;

		@media (max-width: 600px) {
			margin-top: 2rem;
		}
	}

	:global .markup {
		/* Necessary to prevent the background stripes of
		   jumpotron/hero to affect the scrolling area. */
		overflow: hidden;

		& > *,
		.full-width > * {
			padding-left: 20px;
			padding-right: 20px;
			margin-left: auto;
			margin-right: auto;
			max-width: var(--content-width);
		}

		& > ul,
		& > ol {
			padding-left: 50px;
		}

		.full-width {
			max-width: none;
			width: 100%;
		}
	}
}

.center {
	text-align: center;
}

content-region h1 {
	padding: 0.5rem 1rem 0.25rem !important;
	font-weight: 200;
	font-weight: bold;
	line-height: 1.2;

	@media (max-width: 600px) {
		font-size: 2em !important;
	}
}

.inner {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: calc(100vh - var(--header-and-banner-height));
	width: 100%;
}

.oldDocsWarning {
	background: var(--color-warn-bg);
	padding: 0.75rem 1rem;
	color: #444;
	text-align: center;
	position: sticky;
	top: var(--header-and-banner-height);
	z-index: 100; /* Else code blocks would layer on top */

	a {
		font-weight: bold;
		color: var(--color-brand);

		text-decoration-skip-ink: auto;
		text-decoration: underline;
		text-decoration-color: var(--color-table-border);
		text-decoration-thickness: 1px;

		&:hover,
		&:focus {
			text-decoration-color: currentColor;
		}
	}
}

.withEdit {
	margin-top: 2rem;
}

.outer {
	display: flex;
}

.sidebarWrap {
	display: none;
}

.withSidebar {
	.sidebarWrap {
		display: flex;
	}

	@media (min-width: /* --sidebar-break */ 900px) {
		.outer {
			margin-left: auto;
			margin-right: auto;
			max-width: 80rem;
		}

		.inner {
			flex-shrink: 1;
			flex-grow: 1;
			flex-basis: auto;
			max-width: calc(100% - 20rem);
		}
	}
}

.contentWrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-height: calc(100vh - 12rem);
}
