.cm-editor {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--color-code-bg);
	color: var(--color-code-text);
	scrollbar-color: rgba(150, 150, 150, 0.8) rgba(150, 150, 150, 0.25);

	::-webkit-scrollbar {
		height: 10px;
		width: 12px;
		background: rgba(150, 150, 150, 0.25);
	}
	::-webkit-scrollbar-thumb {
		background: rgba(150, 150, 150, 0.8);
	}
	::-webkit-scrollbar-corner {
		background: rgba(150, 150, 150, 0.4);
	}
	&:not(:hover) ::-webkit-scrollbar {
		background: rgba(150, 150, 150, 0.1);
	}
	&:not(:hover) ::-webkit-scrollbar-thumb {
		background: rgba(150, 150, 150, 0.2);
	}

	pre,
	code,
	.cm-lineNumbers {
		font-family: 'source-code-pro', Menlo, Consolas, Monaco, 'Andale Mono',
			'Courier New', monospace;
	}

	.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
	.cm-selectionBackground,
	.cm-content ::selection {
		background: #3e4451;
	}

	.cm-gutters {
		background: #282c34;
		border-right: 1px solid #282c34;
	}

	.cm-gutterElement {
		color: #8b93a3;
	}

	.cm-content {
		caret-color: #528bff;
	}

	.cm-keyword {
		color: var(--color-code-keyword);
	}

	.cm-function,
	.cm-literal {
		color: var(--color-code-function);
	}

	.cm-tag,
	.cm-attribute {
		color: var(--color-code-tag);
	}

	.cm-string {
		color: var(--color-code-string);
	}

	.cm-operator {
		color: var(--color-code-operator);
	}

	.cm-invalid {
		border-bottom: 2px solid #c94b55;
	}

	.cm-activeLine {
		background: #1f232a;
	}

	.cm-matchingBracket {
		text-decoration: underline;
		color: #abb2bf !important;
	}
}
