.codeEditor {
	position: relative;
	overflow: hidden;

	.lintError {
		box-sizing: border-box;
		background: #c94b55;
		color: #fff;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		padding: 0 2px 0.6rem;
		font-family: 'source-code-pro', Menlo, Consolas, Monaco, 'Andale Mono',
			'Courier New', monospace;
		font-size: 11px;
		line-height: 1.4;
		animation: intro 150ms ease forwards 1;
		transform-origin: 0 0;

		pre {
			margin: -1px 0 0.2rem;
		}

		div {
			padding: 0 12px;
		}

		@keyframes intro {
			from {
				transform: scaleY(0.001);
				opacity: 0;
			}
		}
	}
}
