@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css');
@import (css, inline) '~progress-spinner';
@import './helpers';
@import './markdown';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FFF;
	font: 15px/1.8 Lato, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
	color: #4183C4;
	text-decoration: none;
	outline: none;

	&:hover, &:active, &:focus {
		border-bottom: 1px dotted #4183C4;
	}
}


pre, code {
	font-family: 'source-code-pro', Menlo, Consolas, Monaco, 'Andale Mono', 'Courier New', monospace;
	font-size: 13px;
}

pre.highlight {
	position: relative;
	border: none;
	margin-bottom: 40px;
	padding: 0 !important;
	box-shadow: inset 0 1px 20px rgba(0,0,0,0.2);
	text-shadow: 0 0 1px rgba(0,0,0,0.5);
	line-height: 1.5;
	background: #CACDD4;

	a.repl-link {
		position: absolute;
		right: 0;
		top: 0;
		padding: 3px 7px;
		margin: 0;
		color: #FFF;
		border: none;
		background: rgba(0,0,0,0.4);
		border-radius: 0 0 0 3px;
		text-align: center;
		text-decoration: none;
		&:hover {
			background: rgba(0,0,0,0.6);
		}
	}

	& > code {
		padding: 20px;
		background: #343A47;
		box-shadow: 0 0 20px 2px #343A47;
		border-radius: 0;
	}
}

content-region {
	display: block;
}

#app {
	background: #FFF;
	opacity: 0;
	height: 100%;
	animation: fadeIn 50ms ease forwards 1 80ms;
	@keyframes fadeIn {
		from { opacity:0; }
		to { opacity:1; }
	}

	& > main {
		padding-top: 56px;
	}
}
