@header-height: 3.5rem; // 56px
@header-mobile-breakpoint: 50rem;
@sidebar-width: 20rem;
@sidebar-break: ~'(min-width: 900px)';
@content-width: 50rem;
@home-width: 61.5rem;
@full-width: 80rem;

@color-brand: #673ab8;
@color-brand-light: #8f61e1;
@color-corner: #f2777a;
@color-corner2: #e57676;
@color-complementary: #ffeb3b;
@color-link: #2f6daa;
@blockquote-border: #5aa8ff;
@blockquote-bg: #ebf6ff;
@sidebar-active-bg: #f6f6f6;
@sidebar-link-color: #555;
