@import '~style/helpers';

.root {
	padding: 2rem;
	position: absolute;
	height: 100%;
	width: 100%;
	background: var(--color-error-bg);
	color: var(--color-text);

	h5 {
		color: var(--color-error-heading);
		line-height: 1.2;
		font-size: 110%;
		margin-top: 0;
	}

	.frame:first-child {
		margin-top: 0;
	}

	p:first-of-type {
		margin-top: 0.25rem;
	}
}

.stackLabel {
	font-size: 0.9rem;
}

.showStack {
	background: var(--color-btn);
	border: 1px solid var(--color-btn);
	color: var(--color-btn-background);
	padding: 6px 8px 6px 12px;
	line-height: 1;
	border-radius: 5px;
	cursor: pointer;

	&:before {
		content: '▶';
		position: relative;
		display: inline-block;
		top: 0.1em;
		left: -4px;
		opacity: 0.8;
		transition: transform 250ms ease;
		transform-origin: center;
	}
	&.showing:before {
		transform: rotate(90deg);
	}
}

.stack {
	margin: 2px 0 0;
	max-height: 10rem;
	background: var(--color-code-inline-bg);
	border-radius: 5px;
	padding: 2px;
	color: var(--color-quote-text);
	overflow: auto;
	transform-origin: 0 0;
	animation: scaleOpen 250ms ease forwards 1;

	.frame {
		padding: 1px 5px;
		margin: 0;
	}
}
@keyframes scaleOpen {
	0% {
		max-height: 0rem;
		opacity: 0;
	}
}

.frame {
	font-family: 'source-code-pro', Menlo, Consolas, Monaco, 'Andale Mono',
		'Courier New', monospace;
	font-size: 0.8rem;
}
