@import '~style/helpers';

body .jumbotron {
	position: relative;
	display: block;
	padding: 45px 0;
	background: @color-brand;
	overflow: hidden;
	text-align: center;
	color: @color-complementary;
	text-shadow: 0 0 1px #000;

	&:first-child {
		margin-top: -50px !important;
	}

	p:first-of-type {
		font-size: 150%;
		font-weight: 600;
		line-height: 1.2;
		padding: 2rem 1rem 1rem;
	}

	h1 {
		color: #fff;
		font-size: 400%;
		font-weight: 300;
		padding: 0 !important;
		text-transform: uppercase;

		svg {
			height: auto;
			width: 100%;
			max-width: 600px;
		}
	}
}
