@import '~style/helpers';

.jumbotron {
	position: relative;
	display: block;
	overflow: visible;
	text-align: center;

	// TODO: Fix specifity
	padding: 0 !important;

	p:first-of-type {
		display: inline-block;
		font-size: 150%;
		font-weight: 300;
		line-height: 1.2;
		margin: 2rem 1rem 1rem;
		padding: 1rem 2rem;
		color: white;
		background: @color-brand;
		background: linear-gradient(
			45deg,
			@color-brand,
			lighten(@color-brand-light, 5%)
		);
	}

	h1 {
		color: #fff;
		font-size: 400%;
		padding: 1.5rem 0 0 0 !important;
		text-transform: uppercase;

		svg {
			height: auto;
			width: 100%;
			max-width: 600px;
		}
	}
}

.stripes {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: 0;
	transform: skewY(-12deg) scale(1.2) translate3d(0, 0, 0);
	background: @color-brand;
	background: linear-gradient(45deg, @color-brand, @color-brand-light);

	// TODO: Fix specifity
	max-width: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.content {
	// Force element on composite layer to position it above the
	// previous sibling
	transform: translate3d(0, 0, 0);
}
