body .jumbotron {
	position: relative;
	display: block;
	padding: 45px 0;
	background: #2b313c;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
	overflow: hidden;
	text-align: center;
	color: #f2777a;
	text-shadow: 0 0 1px #000;

	&:first-child {
		margin-top: -50px !important;
	}

	p:first-of-type {
    font-size: 150%;
    letter-spacing: 0.02em;
    font-weight: 300;
    line-height: 1.2;
    padding: 10px 20px;
	}

	h1 {
		color: #FFF;
		font-size: 400%;
		font-weight: 300;
		padding: 0 !important;
		text-transform: uppercase;

		svg {
			height: auto;
			width: 100%;
			max-width: 600px;
		}
	}
}
