@import (reference) '~style/helpers';

.footer {
	border-top-width: 0.0625rem;
	border-top-style: solid;
	text-align: center;
	overflow: hidden;

	:global(.light) & {
		color: @color-footer-text-light;
		background: @color-footer-bg-light;
		border-color: @color-footer-border-light;
	}
	:global(.dark) & {
		color: @color-footer-text-dark;
		background: @color-footer-bg-dark;
		border-color: @color-footer-border-dark;
	}

	.inner {
		position: relative;
		padding: 20px;
		margin: auto;
		max-width: @content-width;
	}

	.lang {
		margin-left: 10px;
		padding-left: 10px;
		border-left-width: 0.0625rem;
		border-left-style: solid;

		:global(.light) & {
			border-color: @color-footer-lang-divider-light;
			color: @color-brand;
		}
		:global(.dark) & {
			border-color: @color-footer-lang-divider-dark;
			color: @color-brand-light;
		}

		select {
			font-size: 100%;
		}

		code {
			margin-left: 10px;
		}
	}

	a {
		:global(.light) & {
			color: @color-brand;
		}
		:global(.dark) & {
			color: @color-brand-light;
		}
	}
}
