/**
 * This file is directly referenced inside the template. We have to do that
 * to be able to toggle if it should be forcefully applied or not. In doing so
 * we can just remove the media query on the link tag to have the stylings
 * forcefully applied instead of only when `@media (prefers-color-scheme: dark)`
 * is set.
 */
:root {
	--color-page-bg: #242424;
	--color-text: #a0a0a0;
	--color-heading: #c5c5c5;
	--color-link: #ae80ff;
	--color-hr: #444;
	--color-quote-bg: #29475f;
	--color-quote-border: #3f6b9c;
	--color-quote-text: #c5c5c5;
	--color-table-border: #575757;
	--color-table-even-bg: #242424;
	--color-table-odd-bg: #2f2f2f;
	--color-code-inline-bg: #2b313c;
	--color-code-inline-border: #5e5e5e;
	--color-code-bg: #2b313c;
	--color-sidebar-divider: #4f4f4f;
	--color-sidebar-bg: #171717;
	--color-sidebar-bg-active: #242424;
	--color-sidebar-link-active: #8f61e1;
	--color-sidebar-link: #a0a0a0;
	--color-footer-lang-divider: #444;
	--color-footer-lang: #8f61e1;
	--color-footer-link: #8f61e1;
	--color-footer-text: #7e7e7e;
	--color-footer-bg: #1b1b1b;
	--color-footer-border: #1b1b1b;
}
