:root {
	--color-page-bg: white;
	--color-text: #444;
	--color-heading: black;
	--color-link: #673ab8;
	--color-hr: #f8f8f8;
	--color-quote-bg: #ebf6ff;
	--color-quote-border: #5aa8ff;
	--color-quote-text: #444;
	--color-table-border: #ccc;
	--color-table-even-bg: white;
	--color-table-odd-bg: #f8f8f8;
	--color-table-border: #ccc;
	--color-code-inline-bg: #f8f8f8;
	--color-code-inline-border: #eaeaea;
	--color-code-bg: #2b313c;
	--color-sidebar-divider: #eee;
	--color-sidebar-bg: #fafafa;
	--color-sidebar-bg-active: #f6f6f6;
	--color-sidebar-link-active: #673ab8;
	--color-sidebar-link: #555;
	--color-footer-lang-divider: #aaa;
	--color-footer-lang: #673ab8;
	--color-footer-link: #673ab8;
	--color-footer-text: #555;
	--color-footer-bg: #f2f2f2;
	--color-footer-border: #ddd;
}
