<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-icon" content="/assets/app-icon.png" sizes="512x512">
		<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
		<meta name="description" content="Preact is a fast 3kB alternative to React with the same modern API.">
		<% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
			<meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
		<% } %>
		<meta name="twitter:card" content="summary" />
		<meta property="og:url" content="https://preactjs.com<%= htmlWebpackPlugin.options.url %>" />
		<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
		<meta property="og:description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.description %>" />
		<meta property="og:image" content="https://preactjs.com/assets/app-icon.png" />
		<% if (process.env.BRANCH) { %>
			<script>ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga('set','dimension1','<%= process.env.BRANCH %>');onerror=function(e,f,l,c){ga('send','event','exception',e,f+':'+l+':'+c)}</script>
		<% } %>
		<% const loadManifest = htmlWebpackPlugin.options.createLoadManifest(compilation.assets, webpack.namedChunkGroups);%>
		<% const filesRegexp = /\.(css|js)$/;%>
		<% for (const file in loadManifest[htmlWebpackPlugin.options.url]) { %>
			<% if (htmlWebpackPlugin.options.preload && file && file.match(filesRegexp)) { %>
				<% /* crossorigin for main bundle as that is loaded from `<script type=module` tag, other lazy loaded bundles are from webpack so its not needed */ %>
				<link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"<%= file.match(/bundle\.\w{5}\.esm\.js$/)?' crossorigin="anonymous"':'' %>>
			<% } %>
		<% } %>
		<% if (webpack.assets.filter(entry => entry.name.match(/bundle.\w{5}.esm.js$/)).length > 0) { %>
			<script nomodule>!function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()},!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();</script>
		<% } %>
		<script nomodule>window.fetch||document.write('<script src="<%= htmlWebpackPlugin.files.chunks.polyfills.entry %>"><\/script>')</script>
		<link href="https://cdn.jsdelivr.net" rel="preconnect" crossorigin="anonymous">
	</head>
	<body class="blacklivesmatter">
		<%= htmlWebpackPlugin.options.ssr({
			url: htmlWebpackPlugin.options.url || '/'
		}) %>
		<script type="__PREACT_CLI_DATA__">
			<%= JSON.stringify(htmlWebpackPlugin.options.CLI_DATA) %>
		</script>
		<% if (webpack.assets.filter(entry => entry.name.match(/bundle.\w{5}.esm.js$/)).length > 0) { %>
			<script crossorigin="anonymous" src="<%= htmlWebpackPlugin.files.publicPath %><%= webpack.assets.filter(entry => entry.name.match(/bundle\.\w{5}\.esm\.js$/))[0].name %>" type="module" async></script>
			<script nomodule defer src="<%= htmlWebpackPlugin.files.chunks.bundle.entry %>"></script>
		<% } else { %>
			<script async <%= htmlWebpackPlugin.options.scriptLoading %> src="<%= htmlWebpackPlugin.files.chunks.bundle.entry %>"></script>
		<% } %>
		<script async defer src="https://www.google-analytics.com/analytics.js"></script>
	</body>
</html>
