:global(.sponsors) {
	text-align: center;
	margin-bottom: -2rem;
	max-width: 60rem !important;
	padding-left: 0 !important;
	padding-right: 0 !important;

	p {
		margin-bottom: 0;
	}
}

.sponsorList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	margin: 0.5rem 0 0;
}

.sponsorItem {
	flex: 1 1 auto;
	list-style: none;
	transition: all 0.3s;
	text-align: center;
	padding: 0.5rem 1.5rem 0;
	margin: 0;

	& a {
		text-decoration: none;
		display: inline-block;
		color: transparent !important;
		/* Fix IE 11 border */
		background: none !important;

		&:hover svg,
		&:focus svg {
			filter: grayscale(0);
			opacity: 1;
		}

		@media (prefers-color-scheme: dark) {
			&:hover svg,
			&:focus svg {
				filter: invert(0) hue-rotate(0deg) grayscale(0)
					drop-shadow(0 0 0.5px #fff) drop-shadow(0 5px 10px #000)
					drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
			}
		}
	}

	img,
	svg {
		height: 3rem;
		width: auto;
		display: block;
		margin: 0 auto 1rem;
		opacity: 0.6;
		transition: all 250ms ease;
		filter: grayscale(1);

		/* Invert based on luminosity */
		@media (prefers-color-scheme: dark) {
			filter: invert(0.862745) hue-rotate(180deg) grayscale(1);
		}
	}
}
